/* Variables */
$font-company: 'Satisfy', cursive;
$font-header: 'Signika', sans-serif;
$transition: 1s all;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

section {
    margin: 150px auto;
}

/* header */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-inner:first-child {
    flex: 1;
    height: 100px;
}

.nav-inner {
    flex: 2;
    height: 100px;
    text-align: center;
}

.nav {
    max-width: 1000px;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
}

header {
    background-image: url("https://images.pexels.com/photos/250459/pexels-photo-250459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.nav-inner ul {
    list-style-type: none;
}

.nav-inner {
    li {
    display: inline;
    margin: 0 10px;
    }
    a {
    font-family: $font-header;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: $transition;
    }
    
}

.nav-inner a:hover {
    color: gold;
}

.btn {
    display: inline-block;
    margin: 24px auto 0 auto;
    width: 160px;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
    color: #fff;
}

.btn-one {
    border-color: gold;
    color: gold;
    font-weight: 700;
    background-image: linear-gradient(90deg, gold 50%, transparent 50%);
}

.header-title {
    text-align: center;
    margin: 100px auto;
}

.nav-inner h2 {
    font-family: $font-company;
    color: gold;
    font-size: 60px;
    margin: 10px auto;
}

.header-title {
    h1 {
        font-family: $font-header;
        font-size: 60px;
        color: #fff;
    }
    h3 {
        font-family: $font-company;
        font-size: 40px;
        color: #fff;
    }
}

/* Services */

.services-title {
    margin: 30px auto;
    text-align: center;
    min-width: 300px;
}

.services-title h1 {
    font-family: $font-header;
    font-size: 40px;
    font-weight: 700;
    line-height: 0;
}

.services-title p {
    font-family: $font-header;
    color: grey;
    font-size: 18px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-inner {
    flex: 1;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    padding: 0;
    margin-top: 40px;
    background: #fff;
    max-width: 300px;
}

.services-inner {
    i {
    font-size: 60px;
    color: gold;
    border-radius: 50%;
    border: 5px solid gold;
    width: 150px;
    line-height: 140px;
    height: 150px;
    background: transparent;
    text-align: center;
    }
    h3 {
        font-family: $font-header;
        font-weight: 700;
    }
    p {
        font-family: $font-header;
        color: grey; 
    }
}

/* Galery */

.services-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    padding: 0;
    min-height: 250px;
    max-height: 300px;
    min-width: 300px;
} 

.portfolio {
    background: #dcdcdc;
    margin: 50px auto;
    padding: 100px 0;
}


/* Media */

@media (max-width: 767px){
  .nav-inner li {
    display: block;
    justify-content: center;
  }
  .nav-inner:first-child {
    flex: 1 100%;
    height: 100px;
    text-align: center;
   }
  .nav-inner {
    flex: 1 100%;
    height: 100px;
    text-align: center;
    }
  .services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
